.textarea {
  width: 100%;
  height: 500px !important;
  margin-bottom: 10px;
}

.pre {
  min-height: 500px;
}

.buttons {
  margin-bottom: 10px;
}

.success {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}
